.tableStyle {
    border: 3px double #d35400;
    width: 40%;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 500px;

}

th {
    border: 2px solid #d35400;
    background-color: darkorange;
    padding: 10px;
}

td {
    border: 2px solid #d35400;
    background-color: #f4f4f4;
    padding: 10px;
}
.asai{
    background-color: #d35400;
    padding: 20px;
    height: 500px;
    width: 13%;
    border-radius: 5px;
    border: 2px solid black; 
  
}
.textoooo{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid black; 
}


