/* Archivo: styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: ;
}

.header {
    background-color: #1e88e5;
    color: white;
    text-align: center;
    padding: 1rem;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main-content {
    display: flex;
    margin: 2rem;
    gap: 2rem;
}

.articles {
    flex: 3;
}

.article {
    display: flex;
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.date {
    background-color: #303f9f;
    color: white;
    padding: 1rem;
    text-align: center;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem; /* Ajusta este valor para cambiar el espacio */
    
border-radius: 8px;
}

.date .day {
    font-size: 2rem;
    font-weight: bold;
}

.date .day-name {
    font-size: 1rem;
}

.content {
    padding: 1rem;
    flex: 1;
}

.content h2 {
    margin-top: 0;
}

.content img {
    max-width: 100%;
    border-radius: 4px;
}

.sidebar {
    flex: 1;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    margin-top: 0;
}

.article-container {
    display: flex;
    margin-bottom: 1rem;
}
